<% comments.each do |comment| %>
  <% unless comment.message.blank? %>
    <div id="comment_<%= comment.id %>">
  <div class="comment_by">
    <div class="comment_name"> Posted by: <%= comment.user.name %></div> <%= profile_picture_or_default(comment.user) %>
  </div>
  <div class="comment_row">
    <div class="deletecomment"><%= delete_comment?(comment.post, comment) %></div>
    <%= comment.message %>
  </div>
    </div>
    <% end %>
<% end %>