<div id="songpartial">
  <%= render partial: "posts/songs", locals: {post: @post} %>
</div>

<div class="new_comment">
  <%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.text_field :message %>
    <%= f.submit %>
  <% end %>
</div>

<div id="commentspartial">
  <%= render partial: "comments", locals: {comments: @post.comments.order(created_at: :desc)} %>
</div>