<div class="playerbuttons">
  <img class="play" src="https://img.icons8.com/nolan/64/play.png" onclick="document.getElementById('player').play()"></img>
  <img class="pause" src="https://img.icons8.com/nolan/64/pause.png" onclick="document.getElementById('player').pause()"></img>
</div>

<div class="songSolo">
  <ul>

    <li>
      <div class="songImg">
        <div class="imgdupe"> <img src="<%= @song.image %>"> </div>
        <img src="<%= @song.image %>">
        <div class="imgdupetwo"> <img src="<%= @song.image %>"> </div>
      </div>
    </li>
    <li>
      <div class="songtitle"><%= @song.title %> </div>
      <h2><%= @song.artist %></h2>
    </li>
  </ul>
</div>

<audio id="player" autoplay>
  <source src="<%= @song.url %>" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<% if grab_background(@song.artist) %>
<video playsinline autoplay muted loop id="bgvid">
  <source src="<%= grab_background(@song.artist) %>" type="video/mp4">
</video>
<% end %>

