<% songs.each do |song| %>
  <div class="likebtn">
    <%= image_tag('love.png') %>
  </div>
  <audio id="song_<%= song.id %>" muted preload="none">
    <source src="<%= song.url %>"></source>
  </audio>
  <div class="songcontainer" style="background-color: <%= dominantcolor(song.image).last %>90;">
    <div class="albumcontainer">
      <img onmouseover="play('song_<%= song.id %>','<%= grab_background(song) %>')" onmouseout="stop_playing('song_<%= song.id %>')"  src="<%= asset_path('play_button.png') %>" id="playbtn">
      <img src="<%= song.image %>" class="albumart" id="song_img_<%= song.id %>">
    </div>
    <div class="songcontent">
      Cristian shared <%= link_to "#{song.title} by #{song.artist}", song_path(song) %>
      <div class="songlinks">
        <%= image_tag('share.png') %>
        <%= image_tag('repost.png') %>
      </div>
    </div>
  </div>
<% end %>