<div class="likebtn">
    <%= image_tag('love.png') %>
  </div>
  <audio id="song_<%= post.song.id %>" muted preload="none">
    <source src="<%= post.song.url %>"></source>
  </audio>
  <div class="songcontainer" style="background-color: <%= dominantcolor(post.song.image).last %>90;">
    <div class="albumcontainer">
      <img onmouseover="play('song_<%= post.song.id %>','<%= grab_background(post.song) %>')" onmouseout="stop_playing('song_<%= post.song.id %>')"  src="<%= asset_path('play_button.png') %>" id="playbtn">
      <img src="<%= post.song.image %>" class="albumart" id="song_img_<%= post.song.id %>">
    </div>
    <div class="songcontent">
      <%= post.user.name %> shared <%= link_to "#{post.song.title} by #{post.song.artist}", song_path(post.song) %>
      <% if post.original_post.present? %><br>
        <div class="quote"><span style="font-style: italic">originally shared by: <%= post.original_post.user.name %></span></div>
      <% end %>
      <div class="songlinks">
        <%= image_tag('share.png') %>
        <a href="<%= repost_path(post) %>"><%= image_tag('repost.png') %></a>
      </div>
    </div>
  </div>