<% songs.each do |song| %>

  <audio preload="auto" id="song_<%= song.id %>" allow="autoplay">
    <source src="<%= song.url %>"></source>
  </audio>

  <div class="songcontainer" style="background-color: <%= dominantcolor(song.image).last %>90;">
    <img onmouseover="play('song_<%= song.id %>')" onmouseout="stop_playing('song_<%= song.id %>')" src="<%= song.image %>" class="albumart" id="song_img_<%= song.id %>"> <div class="songcontent">Cristian shared <%= "#{song.title} by #{song.artist}" %></div>
  </div>
<% end %>