<!DOCTYPE html>
<html>
<head>
  <title>Flavor of The Week</title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
      function play(song_id,song_video) {
          var song = document.getElementById(song_id);
          var background_video = document.getElementById("bgvid")
          // if (background_video.style.opacity == "0") {
          //     background_video.hidden = false
          // }
          song.muted = false;
          background_video.style.opacity = "0.7";
          background_video.src = (song_video);
          song.play();

      }
      function stop_playing(song_id) {
          var song = document.getElementById(song_id);
          var background_video = document.getElementById("bgvid")
          background_video.style.opacity = "0";
          // if (background_video.style.opacity == "0") {
          //     background_video.hidden = true
          // }
          song.pause();
          song.currentTime = 0;
      }
  </script>
</head>

<body>
<div class="grid">
  <%= render partial: 'shared/navigation' %>


  <div class="songs" >
<%= yield %>
  </div>

  <video playsinline autoplay muted loop id="bgvid">
    <source src="" type="video/mp4">
  </video>
</div>
</body>
</html>
